 .color-section{
    background-color: #ffeaa7;
}
/*.uno{
    position: relative;
    top: 50px;

}
.dos{
    top: 10px;
    position: relative;
}
.tres{
    top: 40px;
    position: relative;
}

.button{
    background: #ffc917;
    border-radius: 6px;
    line-height: 48px;
    color: white;
    border: 1px solid transparent;
} */
